
<!DOCTYPE html>
<html>
<head>
<style>
    *{
        background-color:black;
        color:white;
        text-align:center;
    }
    a{
        font-size:40px;
    }
</style>
</head>
<body>

<h1>Hello Sahithi!!</h1>
<form action="" method="POST" >
    <h2>Are we friends ?</h2>
    <p>
        <div style="width:10%;display:inline-table;" ><a class="collapse-item" href="app/thankyou/">  Yes  </a></div> 
        <div style="width:10%;display:inline-table;"></div> 
        <div style="width:10%;display:inline-table;"><a class="collapse-item" href="/">  No  </a></div> 
    </p>
</form>
{%block b1%}

{%endblock%}
{%block b2%}

{%endblock%}
</body>
</html>


{% comment %} <!DOCTYPE html>
<html>
<body>

<h1>Hello World!</h1>
<p>Welcome to my first Django project! {{name}} </p>
{%block b1%}

{%endblock%}
{%block b2%}

{%endblock%}
</body>
</html>
<!DOCTYPE html>
<html>
<body>

<h1>Hello World!</h1>
<p>Welcome to my first Django project! {{name}} </p>
{%block b1%}

{%endblock%}
{%block b2%}

{%endblock%}
</body>
</html> {% endcomment %}