<!DOCTYPE html>
<html>
    <head>
        <style>
            *{
                background-color:black;
                color:white;
                text-align:center;
            }
            a{
                background-color:white;
                font-size:20px;
                color:black;
            }
        </style>
    </head>
<body>

<h2 style="text-align:center">I know We are </h2>
<h2 style="text-align:center">Best Friends</h2>
{%block b1%}

{%endblock%}
{%block b2%}

{%endblock%}
</body>
</html>